name: Déploiement GitHub Pages

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configuration des Pages
        uses: actions/configure-pages@v4

      - name: Upload des fichiers
        uses: actions/upload-pages-artifact@v3
        with:
          path: '.'

      - name: Déploiement sur GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
